body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: #e3e3e13f;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #c1c1c1fd;
    color: rgb(99, 99, 99);
  }
  
  .present {
    background-color: #ff696190;
    color: rgb(182, 89, 84);
  }
  
  .future {
    background-color: #77dd7786;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #5c80bb;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  a{
    text-align: center;
    font-size: 20px;
    border: #00000049 solid 2px;
    border-radius: 10% 0% 0% 10%;
    border-radius: 12%;
    width: 95px;
  } 

  textarea{
    border: rgba(0, 0, 0, 0.454) solid 2px;
  }
 
